{% extends 'AdymaMainBundle::section.html.twig' %}
{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block headcontent %}
    <img src={{ asset('bundles/adymamain/images/sections/int/cerraj_head.png') }}>
    <h3>Decoración y cerrajeria en inoxidable</h3>
    <p></p>
{% endblock %}
{% block undercontent %}
<div class="pleft">
    <p><span class="bolduppercase">ADYMA-INOX</span> pone a su disposición la gama más amplia del mercado en mesas de lavado.
    <br><br>
    Nuestras mesas de lavado se fabrican a medida, integramente en acero inoxidable.
    <br><br>
    Nos ceñimos a las necesidades de su instalación ofreciendoles una amplia gama de cubetas soldadas, fregaderos, bastidores, mesas de entrega de sucio, etc...
    </p>
    </div>
    <div class="pright">
        <h4>HIGIENE Y ADAPTABILIDAD</h4>
        <p class="whitext">
        Al estar fabricados a medida son ideales para completar la instalación de cocinas industriales, hoteles, restaurantes, colegios, hospitales, empresas de caterign, empresas manipuladoras de alimentos,
        cafeterías y un largo etc...
        </p>
    </div>
    <div class="minishow">
        <p class="nopadding">Estos son algunos de los productos que le ayudarán a optimizar el espacio de sus instalaciones:</p>
        <ul>
            <li>
                <img src={{ asset('bundles/adymamain/images/sections/int/sc_thumbs/cerrajeria/1.jpg') | imagine_filter('profile')  }} alt="">
            </li>
            <li>
                <img src={{ asset('bundles/adymamain/images/sections/int/sc_thumbs/cerrajeria/2.jpg') | imagine_filter('profile')  }} alt="">
            </li>
            <li>
                <img src={{ asset('bundles/adymamain/images/sections/int/sc_thumbs/cerrajeria/3.jpg') | imagine_filter('profile')  }} alt="">
            </li>
            <li>
                <img src={{ asset('bundles/adymamain/images/sections/int/sc_thumbs/cerrajeria/4.jpg') | imagine_filter('profile')  }} alt="">
            </li>
            <li>
                <img src={{ asset('bundles/adymamain/images/sections/int/sc_thumbs/cerrajeria/5.jpg') | imagine_filter('profile')  }} alt="">
            </li>
            <li>
                <img src={{ asset('bundles/adymamain/images/sections/int/sc_thumbs/cerrajeria/6.jpg') | imagine_filter('profile')  }} alt="">
            </li>
        </ul>
    </div>
{% endblock %}