{% extends 'AdymaMainBundle::base.html.twig' %}

{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}
{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}
{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}
{% block body %}
    <div class="indexfirstview">
        <img src={{ asset('bundles/adymamain/images/logoindex.png') }} alt="AdymaLogo">
        <h3>Construcciones Metálicas en Acero Inoxidable</h3>
    </div>
    <div class="indexsections">
        <h3>¿Quienes somos?</h3>
        <div class="knowadyma">
            <p>Adyma inox es una empresa joven, creativa y dinámica, formada por un equipo de profesionales con decadas de experiencia en el acero inoxidable.</p>
        </div>
        <div class="teamcontainer">
            <ul style="padding:0;margin-top:85px;text-align:center;">
                <li class="teaminfo">
                    <div id="slidemg1" class="slidemg">
                        <h4>Descripción</h4>
                        <p>En está sección esta una selecta recopilación de algunos de nuestros trabajos.</p>
                        <a href="/portfolio/general">Haz click aquí para saber más</a>
                    </div>
                    <a href="/portfolio/general">
                        <img src={{ asset('bundles/adymamain/images/sections/hosteleria.jpg') }}>
                    </a>
                    <div class="teamdescription">
                        <h3>Hostelería</h3>
                        <p>Instalación y equipamiento de una cocina industrial.</p>
                        <img class="arrow trigger" data-id="slidemg1" src={{ asset('bundles/adymamain/images/expand_arrow.png') }}>
                    </div>
                </li>
                <li class="teaminfo">
                    <div id="slidemg2" class="slidemg">
                        <h4>Descripción</h4>
                        <p>En está sección esta una selecta recopilación de algunos de nuestros trabajos.</p>
                        <a href="/portfolio/general">Haz click aquí para saber más</a>
                    </div>
                    <a href="/portfolio/general">
                        <img src={{ asset('bundles/adymamain/images/sections/hosteleria.jpg') }}>
                    </a>
                    <div class="teamdescription">
                        <h3>Hostelería</h3>
                        <p>Instalación y equipamiento de una cocina industrial.</p>
                        <img class="arrow trigger" data-id="slidemg2" src={{ asset('bundles/adymamain/images/expand_arrow.png') }}>
                    </div>
                </li>
                <li class="teaminfo">
                    <div id="slidemg3" class="slidemg">
                        <h4>Descripción</h4>
                        <p>En está sección esta una selecta recopilación de algunos de nuestros trabajos.</p>
                        <a href="/portfolio/general">Haz click aquí para saber más</a>
                    </div>
                    <a href="/portfolio/general">
                        <img src={{ asset('bundles/adymamain/images/sections/hosteleria.jpg') }}>
                    </a>
                    <div class="teamdescription">
                        <h3>Hostelería</h3>
                        <p>Instalación y equipamiento de una cocina industrial.</p>
                        <img class="arrow trigger" data-id="slidemg3" src={{ asset('bundles/adymamain/images/expand_arrow.png') }}>
                    </div>
                </li>
                <li class="teaminfo">
                    <div id="slidemg4" class="slidemg">
                        <h4>Descripción</h4>
                        <p>En está sección esta una selecta recopilación de algunos de nuestros trabajos.</p>
                        <a href="/portfolio/general">Haz click aquí para saber más</a>
                    </div>
                    <a href="/portfolio/general">
                        <img src={{ asset('bundles/adymamain/images/sections/hosteleria.jpg') }}>
                    </a>
                    <div class="teamdescription">
                        <h3>Hostelería</h3>
                        <p>Instalación y equipamiento de una cocina industrial.</p>
                        <img class="arrow trigger" data-id="slidemg4" src={{ asset('bundles/adymamain/images/expand_arrow.png') }}>
                    </div>
                </li>
                <li class="teaminfo">
                    <div id="slidemg5" class="slidemg">
                        <h4>Descripción</h4>
                        <p>En está sección esta una selecta recopilación de algunos de nuestros trabajos.</p>
                        <a href="/portfolio/general">Haz click aquí para saber más</a>
                    </div>
                    <a href="/portfolio/general">
                        <img src={{ asset('bundles/adymamain/images/sections/hosteleria.jpg') }}>
                    </a>
                    <div class="teamdescription">
                        <h3>Hostelería</h3>
                        <p>Instalación y equipamiento de una cocina industrial.</p>
                        <img class="arrow trigger" data-id="slidemg5" src={{ asset('bundles/adymamain/images/expand_arrow.png') }}>
                    </div>
                </li>
                <li class="teaminfo">
                    <div id="slidemg6" class="slidemg">
                        <h4>Descripción</h4>
                        <p>En está sección esta una selecta recopilación de algunos de nuestros trabajos.</p>
                        <a href="/portfolio/general">Haz click aquí para saber más</a>
                    </div>
                    <a href="/portfolio/general">
                        <img src={{ asset('bundles/adymamain/images/sections/hosteleria.jpg') }}>
                    </a>
                    <div class="teamdescription">
                        <h3>Hostelería</h3>
                        <p>Instalación y equipamiento de una cocina industrial.</p>
                        <img class="arrow trigger" data-id="slidemg6" src={{ asset('bundles/adymamain/images/expand_arrow.png') }}>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock body %}