<!DOCTYPE html>
<html lang="es">
<head>
<title>{% block title %} {{ 'seo.index.title'|trans }} {% endblock title %}</title>
<meta name="description" content="{% block description %}{{ 'seo.index.description'|trans }}{% endblock description %}" />
<meta name="keywords" content="{% block keywords %}{{ 'seo.index.keywords'|trans }}{% endblock keywords %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
{% javascripts
    '@AdymaMainBundle/Resources/public/js/fullPage.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% stylesheets
'bundles/adymamain/css/one.css'
'bundles/adymamain/css/fullPage.css'
filter='cssrewrite'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>
    <body>
        <div id="fullpage">
            <div id="seccion0" data-anchor="portada" class=" section sc0">
                <nav>
                    <ul>
                        <li><a href="{{ path('homepage') }}">{{ 'menu.inicio'|trans }}</a></li>
                        <li><a data-menuanchor="prestaciones" href="#prestaciones">{{ 'menukcone.prestaciones'|trans }}</a></li>
                        <li><a data-menuanchor="uso" href="#uso">{{ 'menukcone.usos'|trans }}</a></li>
                        <li><a data-menuanchor="fabricacion" href="#fabricacion">{{ 'menukcone.fabricacion'|trans }}</a></li>
                        <li><a data-menuanchor="utilidades" href="#utilidades">{{ 'menukcone.utilidades'|trans }}</a></li>
                    </ul>
                </nav>
                <img class="logosc0" src={{ asset('bundles/adymamain/images/kcone/logo.png') }} alt="Logo KC-ONE">
            </div>
            <div id="seccion1" data-anchor="prestaciones" class=" section sc1">
                <div class="descriptioncontainer">
                    <h3>FABRICADA EN ACERO INOXIDABLE</h3>
                    <p>La KC-ONE está completamente fabricada en acero inoxidable y con el interior recubierto de ladrillo.
                    <br><br>
                    De esta manera se consigue un acabado espectacular y funcional a la vez. Mantiene las propiedades calorificas del ladrillo y la durabilidad y resistencia del INOX.
                    <br><br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
            </div>
            <div id="seccion2" data-anchor="uso" class=" section sc2">
                 <div class="descriptioncontainerleft">
                    <h3>FABRICADA EN ACERO INOXIDABLE</h3>
                    <p>La KC-ONE está completamente fabricada en acero inoxidable y con el interior recubierto de ladrillo.
                    <br><br>
                    De esta manera se consigue un acabado espectacular y funcional a la vez. Mantiene las propiedades calorificas del ladrillo y la durabilidad y resistencia del INOX.
                    <br><br>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>
            </div>
            <div id="seccion3" data-anchor="fabricacion" class=" section sc3">

            </div>
            <div id="seccion3" data-anchor="utilidades" class=" section sc3">

            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#fullpage').fullpage({
                    scrollingSpeed: 800,
                    keyboardScrolling: true,
                    touchSensitivity: 1,
                    easing: 'easeOutQuad',
                    anchors: ['portada','prestaciones','uso','fabricacion','utilidades'],
                    autoScrolling: true,
                    resize:false,
                });
            });
        </script>
    </body>
</html>