<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <title>{% block title %}lkkhklh{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% javascripts
    '@AdymaMainBundle/Resources/public/js/jquery-1.11.1.min.js'
    '@AdymaMainBundle/Resources/public/js/cookies/jquery.cookie.js'
    '@AdymaMainBundle/Resources/public/js/cookies/cookiecuttr.js'
    '@AdymaMainBundle/Resources/public/js/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% stylesheets
    'bundles/adymamain/css/main.css'
    'bundles/adymamain/css/normalize.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{{ path('homepage') }}">{{ 'menu.inicio'|trans }}</a>
            </li>
            <li class="navliesp">
                <a href="#">{{ 'menu.hosteleria'|trans }}</a>
                 <ul class=" submenul nopadding">
                    <li class="submenuli nofloat two">
                        <a href="{{ path('hosteleriarm') }}">{{ 'submenu.armarios'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'submenu.campanas'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'submenu.carros'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'submenu.cuartosfrios'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'submenu.mesaslava'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'submenu.cafeteros'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'submenu.mesastrabajo'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'submenu.complementos'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'submenu.mesaslavado'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li class="navliesp">
                <a href="{{ path('hosteleriarm') }}">{{ 'menu.mobiliario'|trans }}</a>
                 <ul class=" submenul nopadding">
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'menu.naval'|trans }}</a>
                    </li>
                    <li class="submenuli nofloat two">
                        <a href="{{ path('kcone') }}">{{ 'menu.laboratorios'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('homepage') }}">{{ 'menu.cerrajeria'|trans }}</a>
            </li>
            <li class="navliesp">
                <a href="{{ path('kcone') }}">{{ 'menu.barbacoas'|trans }}</a>
                <ul>
                    <li class="navlisub">
                        <a href="{{ path('kcone') }}">{{ 'menu.kcone'|trans }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('homepage') }}">{{ 'menu.accesorioscocina'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}">{{ 'menu.cocktail'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('homepage') }}">{{ 'menu.contacto'|trans }}</a>
            </li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
    <footer>
        <p> {{ 'footer.direction'|trans }} | <a href="#infolegal">{{ 'footer.legal'|trans }}</a></p>
        <div class="socialfoo">
            <a href=""><img src={{ asset('bundles/adymamain/images/social/fb.png') }} alt="Facebook"></a>
            <a href=""><img src={{ asset('bundles/adymamain/images/social/gplus.png') }} alt="Google +"></a>
            <a href=""><img src={{ asset('bundles/adymamain/images/social/twitter.png') }} alt="Twitter"></a>
            <a class="scrollToTop" href=""><img src={{ asset('bundles/adymamain/images/gotop.png') }} alt="Go Top"></a>
        </div>
    </footer>
    <!--Analytics-->
    <script>
    </script>
    <script>
        $(document).ready(function(){
            $(window).scroll(function(){
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });
            $('.scrollToTop').click(function(){
                $('html, body').animate({scrollTop : 0},800);
                return false;
            });
        });
    </script>
    {% block javascripts %}{% endblock %}
    </body>
</html>
